<%- include('./partials/head.ejs'); -%>
<a href="/">back</a>
<h1><%- postData.title %></h1>
<img src="<%- postData.webImage.url%>" alt="art">
<p class="description"><%- postData.description %></p>
<%- include('./partials/footer.ejs'); -%>