<%- include('./partials/head.ejs'); -%>
<% postData.forEach(function(thumbail) { %>
	<div class="card">
			<%- thumbail.title %>
			<picture style="background-size: cover; background-image: url(<%- thumbail.imageUrl%>); display: block;">
				<img src="<%- thumbail.imageUrl%>" width="<%= thumbail.imageWidth %>px" height="<%= thumbail.imageHeight %>px"  alt="artpiece of artist" loading="lazy">
			</picture>			
			<div>
				<a href="/post/<%- thumbail.number %>">Meer info</a>
			</div>		
	</div>
<% }) %>
<%- include('./partials/footer.ejs'); -%>