<%- include ("./partials/head.ejs") %>

<% postData.forEach(function(post) { %>
	<div class="card">
			<%- post.title %>
			<img src="<%- post.webImage.url%>">
			<span>
				<a href="/post/<%- post.objectNumber %>">Meer info</a>
				<button id="next">Volgende</button>
			</span>		
	</div>
<% }) %>

<%- include ("./partials/footer.ejs") %>