<%- include('./partials/head.ejs'); -%>
<% postData.artObjects.forEach(function(post) { %>
	<div class="card">
			<%- post.title %>
			<%if(post.webImage != null) {%>
				<img src="<%- post.headerImage.url%>" width="350px" height="500px" alt="artpiece of artist" loading="lazy">
			<%}%>
			<span>
				<a href="/post/<%- post.objectNumber %>">Meer info</a>
				<button id="next">Volgende</button>
			</span>		
	</div>
<% }) %>
<%- include('./partials/footer.ejs'); -%>