<%- include('./partials/head.ejs'); -%>
<% postData.forEach(function(thumbail) { %>
	<% console.log(thumbail) %>
	<div class="card">
			<%- thumbail.title %>
				<img src="<%- thumbail.imageUrl%>" width="<%= thumbail.imageWidth %>px" height="<%= thumbail.imageHeight %>px"  alt="artpiece of artist" loading="lazy">
			<span>
				<a href="/post/<%- thumbail.number %>">Meer info</a>
			</span>		
	</div>
<% }) %>
<%- include('./partials/footer.ejs'); -%>